
<form action="/cars/search" method="GET">
    <label for="cars-search">Search cars:</label>
    <input type="search" id="site-search" name="search"
        aria-label="Search cars">
    <button type="submit">Search</button>
</form>


{{#each cars}}  
      <div class="mb60 car-details">
          <h2>{{this.make}} {{this.model}}</h2>
          <h4>{{this.year}} {{this.power}}</h2>
          <img src={{this.image}} width="500" height="600">
          <h3>{{this.pricePerDay}}</h3>
          {{#if ../currentUser}}
        <form action="/cars/rent/{{this._id}}" method="POST">
            <select name="days">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>  
            <button type="submit" value="Rent">Rent</button>
        </form>
      {{/if}}
      </div>
      
{{/each}}

{{#if hasPrevPage}}
    <a href="/cars/all?page={{prevPage}}" class="previous round pr">&#8249;</a>
{{/if}}
{{#if hasNextPage}}
    <a href="/cars/all?page={{nextPage}}" class="next round next">&#8250;</a>
{{/if}}

